.chartContainer {
    /* height: 1000px; */
    width: 100%;
    /* border: 1px solid white; */
}
.poolPagination {
    /* height: 40px; */
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}
.pagination {
    display: flex;
    justify-content: space-between;
    
}
.pagination a {
    color: white;
    font-size: 12px;
    text-decoration-line: none;
    margin-right: 8px;
    margin-bottom: 30px;
    
}
.pagination a:hover {
    text-decoration-line: underline;
}
.pagination a:nth-child(1) {
    color: #C3C5CB;
}
.pagination .poolex {
    color: white;
    font-size: 12px;
    margin-top: 2px;
}
.fav {
    display: flex;
    /* border: 1px solid white; */
}
.fav img {
    color: white;
    margin-right: 5px;
}
.fav a{
    margin-top: -4px;
}

.poolexHeading {
    /* height: 60px; */
    /* border: 1px solid white; */
    margin-top: 10px;
    padding: 0px 20px;
}
.poolTokens ul{
    display: flex;
    width: 200px;
    /* border: 1px solid white; */
    /* text-align: left; */
    padding: 0px;
}
.poolTokens li h6 {
    font-size: 17px;
    font-weight: 400;
    color: white;
    margin-top: 2px;
    /* letter-spacing: 1.3px; */
}
.poolTokens ul li:nth-child(2) {
    margin-left: -14px;
}
.poolTokens ul li:nth-child(3) {
    display: flex;
}
.poolTokens .badge {
    width: 43px;
    height: 24px;
    background: #40444F;
    border-radius: 8px;
    font-size: 12px;
    padding: 4px 6px;
    margin-left: 8px;
    margin-top: -1px;
    color: white;
}

.poolexAction {
    /* height: 40px; */
    /* border: 1px solid white; */
    margin-top: -10px;
    display:  flex;
    justify-content: space-between;
}
.poolexvaluebadges {
    display: flex;
    
}
.valueBadge {
    width: 180px;
    height: 34px;
    background: #2C2F36;
    border-radius: 10px; 
    padding: 6px;
    display: flex;  
    margin-right: 10px;     
}
.valueBadge h6 {
    color: white;
    font-size: 13px;
    margin-top:3px;
    font-weight: 300;
}
.addButton {
    width: 170px;
    height: 40px;
    background: #40444F;
    border-radius: 10px;
    padding: 12px 15px;
    color: white;
    text-decoration-line: none;
    text-transform: capitalize;
    font-size: 14px;
    color: #C3C5CB;
    font-weight: 300;
    margin-right: 10px;
}
.addButton:hover, .tradeButton:hover {
    color: white;
}
.actionButtons .tradeButton {
    width: 130px;
    height: 40px;
    background: #FA4D17;
    border-radius: 10px;
    padding: 12px 15px;
    color: white;
    text-decoration-line: none;
    font-size: 14px;
}

.poolChartrow {
    height: 420px;
    /* border: 1px solid white; */
    margin-top: 30px;
    padding: 0px 20px;
}
.tokenInfo, .chartInfo {
    height: 420px;
    /* border: 1px solid white; */
    border-radius: 14px;
    background: #191B1F;
    padding: 16px;
}
.lockedTokens {
    height: 110px;
    background: #2C2F36;
    border-radius: 14px;
    padding: 16px;
}
.lockedTokens h6 {
    color: #C3C5CB;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400
}
.tokenOne, .tokenTwo {
    /* border: 1px solid white;  */
    display: flex;
    justify-content: space-between;
}
.tokenstoLock ul {
    padding: 0px;
}
.tokenOne .tokenName, .tokenTwo .tokenName  {
    font-size: 12px;
    color: white;
}
.tokenstoLock h6 {
    font-size: 12px;
    color: white;
    margin-top: 8px;
}

.tokenDetails {
    margin-top: 20px;

}
.tvl h6, .volume h6, .fees h6 {
    color: #C3C5CB;
    font-size: 14px;
    font-weight: 400;
}
.tvl h4, .volume h4, .fees h4 {
    font-size: 20px;
    color: white;
    font-weight: 400;
}
.tvl h5 {
    color: #FD4040;
    font-size: 14px;
    font-weight: 400;
}
.volume h5 {
    color: #27AE60;
    font-size: 14px;
    font-weight: 400;
}
.volume, .fees {
    margin-top: 23px;
}