.chartContainer {
    /* height: 1000px; */
    width: 100%;
    /* border: 1px solid white; */
}
.watchlist {
    margin-top: 20px;
}
.watchlist h6 {
    font-size: 13px;
    /* font-weight: 400; */
    color: #C3C5CB;
    text-transform: capitalize;

}
.savedPools {
    height: 50px;
    background: #191B1F;
    border-radius: 16px;
    margin-top: 20px;
    padding: 15px;
    display: flex;
}
.savedPools h6 {
    font-size: 13px;
    font-weight: 300;
    color: #C3C5CB;
}

.topMovers {
    height: 120px;
    background: #191B1F;
    border-radius: 16px;
    padding: 10px 0px;
    margin-top: 30px;
}
.topMovers h6 {
    color: #6C7284;
    font-size: 14px;
    margin-left: 20px;
}
.cryptoSlider {
    height: 69px;
    /* border: 1px solid white; */
    width: 100%;
    margin-top: 12px;
    overflow-x: scroll;
    display: flex;
}
.cryptoCard {
    background: #2C2F36;
    border-radius: 16px;
    width: 170px;
    height: 65px;
    /* border: 1px solid white; */
    padding: 13px 10px;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.cryptoInfo {
    margin-right: 6px;
    /* border: 1px solid white; */
    padding-left: -20px;
    
    /* padding: 0px 20px 0px 0px; */
    color: white;
    
}
.cryptoInfo .token {
    text-transform: uppercase;
    font-size: 13px;
    color: white;
    text-align: left;
    font-weight: 400;
}
.cryptoInfo .value {
    font-size: 13px;
    color: white; 
    margin-top: -5px;
    font-weight: 400;
}
.cryptoInfo .rate {
    margin-left: 8px;
    color: #27AE60;
}
.topTokens{
    padding: 20px;
}
.topTokens h6 {
    color: #C3C5CB;
    font-size: 13px;
}
.tokenTable {
    /* width: 1200px; */
    /* height: 450px; */
    background: #191B1F;
    border-radius: 16px;
    padding: 10px 15px;
}
.tableHead {
    color: #939393;
    font-size: 12px;
    font-weight: 400;
    padding: 15px 0px 15px 5px !important;

    /* border: 1px solid white; */
}
.tableHead:nth-child(1) {
    width: 20px;
}
.tableHead:nth-child(2) {
    width: 500px;
    
}
.tableHead:nth-child(3) {
    width: 130px;
}
.tableHead:nth-child(4) {
    width: 150px;
}
.tableHead:nth-child(5) {
    width: 150px;
}
.tableHead:nth-child(6) {
    width: 100px;
}
.tableRule {
    margin: 20px 0px;
}
.tableData {
    font-size: 12px;
    color: white;
    padding: 15px 0px 15px 5px !important;
}
.tableData:nth-child(2) {
    /* border: 1px solid white; */
    display: flex;
   
}
.tableData:nth-child(4) {
    color: #27AE60;
}
.tableData:nth-child(2) h6, .tableData:nth-child(2) span {
    margin-left: 3px;
    margin-top: 2px;
}
.pagination {
    text-align: center;
}
.pagination a {
    margin-left: 10px;
}